@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body, .plotly {
    font-family: 'Inter', sans-serif !important;
    color: black;
}

.well {
    background-color: white;
    border: solid 3px rgb(200, 200, 255);
}

a {
    color: black;
    padding-bottom: 2px;
    border-bottom: solid 2px rgb(90,90,190);
}

a:hover, a:focus, a:active {
    color: black;
    border-bottom: solid 2px rgb(200, 200, 255);
    text-decoration: none;
    cursor: pointer;
}

.irs--shiny .irs-bar--single {
    background-color: rgb(90,90,190); 
    border: none;
    border-radius: 20px 0 0 20px;
    height: 21px;
    top: 27px;
}

.irs--shiny .irs-min, .irs--shiny .irs-max, .irs--shiny .irs-single {
    font-family: 'Inter', sans-serif;
    background-color: rgba(0,0,0,0);
    font-weight: 900;
    font-size: 14px;
    color: black;
    padding: 1px 10px;
}

.irs--shiny .irs-single {
    background-color: rgba(0,0,0,0);
}

.irs--shiny .irs-line {
    background: none;
    background-color: white;
    border: solid 2px rgb(90,90,190);
    border-radius: 30px;
    padding: 10px 0;
    cursor: pointer;
}

.irs--shiny .irs-handle {
    background-color: rgb(200, 200, 255);
    border: solid 2px rgb(90,90,190);
    box-shadow: none;
    height: 22px;
    width: 26px;
    top: 26px;
}

.selectize-input, .action-button {
    border-radius: 30px;
    border: solid 2px rgb(90,90,190);
    margin: 6px 0;
}

.action-button {
    font-weight: 700;
    color: white;
    background-color: rgb(90,90,190);
}

.action-button:active, .action-button:hover, .action-button:focus, .btn-default:focus, .btn-default:active, .btn-default:hover {
    border: solid 2px rgb(200, 200, 255);
    background-color: rgb(200, 200, 255);
}